*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  padding: 0;
  height: auto;
}

body {
  font-family: 'Kanit', 'Noto Sans TC', sans-serif;
  font-variant-numeric: tabular-nums;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* * * * CSS common * * * */
:root {
  /* colors */
  --color-theme: #f5d21f;
  --color-dark: #2e2d2d;
  --color-light: #e4e4e4;
  --color-white: #ffffff;
}

.leaflet-container {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100 - 2.5rem);
}

.nav-top {
  padding: 0 3.5rem;
  text-align: end;
  width: 100%;
  height: 2.5rem;
  line-height: 2.5rem;
  z-index: 524;
  color: var(--color-theme);
  background-color: var(--color-dark);
}
