*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  padding: 0;
  height: auto;
}

body {
  font-family: 'Kanit', 'Noto Sans TC', sans-serif;
  font-variant-numeric: tabular-nums;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* * * * CSS common * * * */
:root {
  /* colors */
  --color-theme: #f5d21f;
  --color-dark: #2e2d2d;
  --color-light: #e4e4e4;
  --color-white: #ffffff;
}

.leaflet-container {
  /* 提升兼容性＿針對沒有支援客製屬性的瀏覽器，則直接 apply 100vh */
  height: 100vh;
  /* Safari，搭配 js 。 1vh 是 fallback-value，若沒有搭配 js 撰寫時則直接 apply 1vh 用以乘以 100*/
  height: calc(var(--vh, 1vh) * 100);
  font-family: 'Kanit', 'Noto Sans TC', sans-serif;
}

.nav-top {
  padding: 0 3.5rem;
  position: absolute;
  top: 0;
  text-align: end;
  width: 100%;
  height: 3rem;
  line-height: 3rem;
  z-index: 524;
  color: var(--color-theme);
  background-color: var(--color-dark);
}

.leaflet-top.leaflet-left {
  margin-top: 4rem;
  margin-left: 1rem;
}
